<html>

	<head>
		<title>Umsókn um aðild að Evrópusambandinu | Samráðsvettvangur almennings og stjórnvalda </title>
		<link href="aug_style.css" rel="stylesheet" type="text/css" media="screen" />
	
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta http-equiv="Content-Language" content="EN" />
		<meta name="keywords" content="" />
		<meta name="author" content="dagny@blekhonnun.is" />
		<meta name="distribution" content="Global" />
		<meta name="copyright" content="" />
		<meta name="robots" content="" />		

	</head>
	<body>
	
	<div id="Wrapper">
	
		<!-- Haus -->
		<div id="Header">
			
			<!-- Hægrasvæði í haus, geymir tilkynningar og táknmyndir, gætu orðið fleiri þarna -->
			<div id="Header-right">
			
				<p class="Notify"><span class="white">45</span> hreyfingar á málum</p>			
				<p class="Resize"><img src="img/resize.gif" border="0" alt="" /></p>
			</div>
			<div id="Search"><input value="leita" /></div>
		</div>	
		<!-- Vinstridálkur -->
		
		<div id="LeftCol">
		
		<!-- Hefðbundin lúppa -->
		<ul>
			<li><a href="">Öll mál</a></li>
			<li><a href="">Staða samnings</a></li>
			<li><a href="">Mál af handahófi</a></li>
		</ul>

		<!-- Lúppa með iconum, þau má setja í css skjalið líka ef vill -->
		<ul>
			<li><a href=""><img src="img/icon.gif" align="top" border="0" alt="" /> Taka þátt í umræðu</a></li>
			<li><a href=""><img src="img/icon.gif" align="top" border="0" alt="" /> Senda inn spurningu</a></li>
			<li><a href=""><img src="img/icon.gif" align="top" border="0" alt="" /> Leggja inn umsögn</a></li>
		</ul>

		<ul>
			<li><a href="">Dagbók aðalsamningamanns</a></li>
			<li><a href="">Ný svör við spurningum</a></li>
			<li><a href="">Ítarefni oflr.</a></li>
		</ul>
		
		</div>
		<!-- Miðjusvæði -->
		<div id="MainContent">
		
		<!-- Haus á miðjusvæði -->
	  <div id="Content_wrapper">
				<div id="Ddown"><select>
				  <option>N&yacute;tt</option>
		</select></div>
		  <div id="Tabs">
				<ul>
					<li class="active"><a href="#">Öll virkni</a></li>
					<li><a href="SogS.html">Spurningar og svör</a></li>
					<li><a href="#">Umræður</a></li>
					<li><a href="#">Umsagnir</a></li>
				</ul>
  </div>				
				<div id="Content">
                      <!-- Aðal textasvæði -->
                  <ul>
                    <ul>
                      <li><a href="$">Meira s&eacute; gert fyrir hundaeigendur</a> &middot; <a href="#">10 innlegg</a> &middot; <a href="#">2 spurningar</a> &middot; <a href="#">Landb&uacute;na&eth;arm&aacute;l</a></li>
                    </ul>
                    <li>S&oacute;l og sumar alla daga  &middot; 10 innlegg &middot; 2 spurningar &middot; Sta&eth;festur&eacute;ttur og &thorn;j&oacute;nustufrelsi</li>
                    <li>Merkja og tilkynna stoppist&ouml;&eth;var str&aelig;tisvagna  &middot; 10 innlegg &middot; 2 spurningar &middot; Frj&aacute;ls f&ouml;r fj&aacute;rmagns</li>
                    <li>Vef&uacute;tsending af &ouml;llum fundum stj&oacute;rna, r&aacute;&eth;a og nefnda stj&oacute;rns&yacute;sla, l&yacute;&eth;r&aelig;&eth;i, gegns&aelig;i og utan flokka &middot; 10 innlegg &middot; 2 spurningar &middot; R&eacute;ttarvarsla og grundvallarr&eacute;ttindi</li>
                    <li>Laun vegna stj&oacute;rna og r&aacute;&eth;a  &middot; 10 innlegg &middot; 2 spurningar &middot; D&oacute;ms- og innanr&iacute;kism&aacute;l</li>
                    <li>Ruslarar ver&eth;i sekta&eth;ir me&eth; &thorn;egnskildu&thorn;rifavinnu &iacute; borginni &middot; 10 innlegg &middot; 2 spurningar &middot;  Orka</li>
                    <li>Dagur lj&oacute;ta f&oacute;lksins &middot; 10 innlegg &middot; 2 spurningar &middot;  F&eacute;lagsm&aacute;la- og atvinnustefna</li>
                    <li>Str&aelig;t&oacute; stoppi vi&eth; Fj&ouml;lskyldu- og h&uacute;sd&yacute;ragar&eth;inn &middot; 10 innlegg &middot; 2 spurningar &middot;  F&eacute;lagsm&aacute;la- og atvinnustefna</li>
                    <li>Breytum Egilsh&ouml;llinni... &middot; 10 innlegg &middot; 2 spurningar &middot;  F&eacute;lagsm&aacute;la- og atvinnustefna</li>
                    <li>B&aelig;ta samg&ouml;ngur fyrir 50cc vespur og hj&oacute;l. &middot; 10 innlegg &middot; 2 spurningar &middot;  F&eacute;lagsm&aacute;la- og atvinnustefna</li>
                    <li>Skikka fyrirt&aelig;ki og verslanir til a&eth; flokka rusl og papp&iacute;r &middot; 10 innlegg &middot; 2 spurningar &middot;  F&eacute;lagsm&aacute;la- og atvinnustefna<br>
                    </li>
                  </ul>
</div>
			</div>
		</div>
		
		<!-- Hægridálkur -->
		
		<div id="RightCol">
		
		<!-- Persónuupplýsingar -->
			<div id="Person">
				<span class="Name">Jón Jónsson</span>
				<span class="Address">Sjávargötu 10  600 Akureyri<br />kt. 2807381923</span>
			</div>
			<div id="Settings">
				<span class="Edit"><a href="">Breyta stillingum</a></span>
				<span class="Logout"><a href="">Skrá út</a></span>
			</div>
		
		<ul>
			<li class="Header">Mín skrif</li>
			<li><a href="">Landbúnaðarstefna mun bre...</a></li>
			<li><a href="">Samstarf í jarðhitamálum mu..</a></li>
			<li><a href="">Rafræn viðskipti</a></li>
		</ul>
		
		<!-- Lúppa með titli -->
		<ul>
			<li class="Header">Mín áhugamál <a class="li-header-txt" href="#">breyta</a></li>
			<li><a href="">Orkumál</a></li>
			<li><a href="">Fiskveiðar</a></li>
			<li><a href="">Landbúnaður</a></li>
		</ul>

		
		</div>
		
		<!-- Fótur síðunnar -->
		<div id="Footer">
			<div id="Footer-right"><a href="#">Reglur</a>  <a href="#">Hjálp</a>  <a href="#">Osfr.</a></div>
			<div id="Footer-left"><a href="#">Hafðu samband</a></div>
			
		
		</div>
	</div>
	
	</body>
</html>
